* {
  box-sizing: border-box;
} 

html {
  --color1: #515b34;
  --color2: #d97961;
  --color3: #fff9f9;
}

body {
  background-color: #e6efe9;
  display: flex;
  flex-wrap: wrap;
}

.userCard {
  background-color: var(--color3);
  font-family: Roboto;
  text-align: center;
  width: 330px;
  height: 450px;
  padding: 15px;
  border-radius:5%;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.userPhoto img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: left top;
}

.userName {
  line-height: 1.5em;
  color: var(--color1);
}

h2 + p {
color: var(--color2);
}

.userContent {
width: 100%;
height: 47px;
overflow: hidden;
}

h3 {
color: var(--color1);
}

.userContact {
  width: 100%; 
}

.itemContact {
  padding: 0px 50px;
  padding-top: 10px;
  font-size: 1.5em;
  display: flex;
  justify-content: space-evenly;
}

.footer {
  width: 100%;
  border-top: 1px solid black ;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.Btn {
  background-color: var(--color2);
  color: var(--color3);
  width: 140px;
  height: 35px;
  text-decoration: none;
  border: 1px solid transparent;
  align-content: center;
}

footer :nth-child(1) {
  background-color: var(--color1);
}