* {
  box-sizing: border-box;
} 

section {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

p {
  background-color: bisque;
  padding: 20px;
}

@media screen and (min-width: 600px) {
  p {
    background-color: blue;
  } 
}

@media screen and (max-width: 600px) {
  section {
    flex-direction: column;
  }
  p {
    padding: 40px;
  }
}

@media screen and (max-width: 400px){
  p {
    padding: 30px;
  }
}

